In [3]:
import pandas as pd
import numpy as np
import plotly as py

In [4]:
df = pd.read_csv('U.S._Chronic_Disease_Indicators.csv')
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
df.head(3)

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,DataValue,DataValueAlt,DataValueFootnoteSymbol,DataValueFootnote,LowConfidenceLimit,HighConfidenceLimit,StratificationCategory1,Stratification1,StratificationCategory2,Stratification2,StratificationCategory3,Stratification3,Geolocation,LocationID,TopicID,QuestionID,ResponseID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2019,2019,GA,Georgia,BRFSS,Disability,Adults with any disability,NaN,%,Crude Prevalence,44.0,44.0,NaN,NaN,41.0,47.1,Age,Age >=65,NaN,NaN,NaN,NaN,POINT (-83.62758034599966 32.83968109300048),13,DIS,DIS01,NaN,CRDPREV,AGE,AGE65P,NaN,NaN,NaN,NaN
1,2019,2019,GU,Guam,BRFSS,Arthritis,Arthritis among adults,NaN,%,Crude Prevalence,15.9,15.9,NaN,NaN,13.3,18.9,Sex,Female,NaN,NaN,NaN,NaN,POINT (144.793731 13.444304),66,ART,ART01,NaN,CRDPREV,SEX,SEXF,NaN,NaN,NaN,NaN
2,2019,2019,GU,Guam,BRFSS,Immunization,Influenza vaccination among adults,NaN,%,Crude Prevalence,30.0,30.0,NaN,NaN,26.2,34.0,Sex,Male,NaN,NaN,NaN,NaN,POINT (144.793731 13.444304),66,IMM,IMM01,NaN,CRDPREV,SEX,SEXM,NaN,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311745 entries, 0 to 311744
Data columns (total 34 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   YearStart                  311745 non-null  int64
 1   YearEnd                    311745 non-null  int64
 2   LocationAbbr               311745 non-null  object
 3   LocationDesc               311745 non-null  object
 4   DataSource                 311745 non-null  object
 5   Topic                      311745 non-null  object
 6   Question                   311745 non-null  object
 7   Response                   0 non-null       float64
 8   DataValueUnit              311745 non-null  object
 9   DataValueType              311745 non-null  object
 10  DataValue                  210684 non-null  float64
 11  DataValueAlt               210684 non-null  float64
 12  DataValueFootnoteSymbol    102758 non-null  object
 13  DataValueFootnote          102758 non-null  object
 14  LowConfidenceLimit         190373 non-null  float64
 15  HighConfidenceLimit        190378 non-null  float64
 16  StratificationCategory1    311745 non-null  object
 17  Stratification1            311745 non-null  object
 18  StratificationCategory2    0 non-null       float64
 19  Stratification2            0 non-null       float64
 20  StratificationCategory3    0 non-null       float64
 21  Stratification3            0 non-null       float64
 22  Geolocation                305936 non-null  object
 23  LocationID                 311745 non-null  int64
 24  TopicID                    311745 non-null  object
 25  QuestionID                 311745 non-null  object
 26  ResponseID                 0 non-null       float64
 27  DataValueTypeID            311745 non-null  object
 28  StratificationCategoryID1  311745 non-null  object
 29  StratificationID1          311745 non-null  object
 30  StratificationCategoryID2  0 non-null       float64
 31  StratificationID2          0 non-null       float64
 32  StratificationCategoryID3  0 non-null       float64
 33  StratificationID3          0 non-null       float64
dtypes: float64(14), int64(3), object(17)
memory usage: 80.9+ MB

# EDA

### Cleaned up dataframe by removing columns where all the values are NaN

In [6]:
df2 = df.dropna(how='all', axis=1)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311745 entries, 0 to 311744
Data columns (total 24 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   YearStart                  311745 non-null  int64
 1   YearEnd                    311745 non-null  int64
 2   LocationAbbr               311745 non-null  object
 3   LocationDesc               311745 non-null  object
 4   DataSource                 311745 non-null  object
 5   Topic                      311745 non-null  object
 6   Question                   311745 non-null  object
 7   DataValueUnit              311745 non-null  object
 8   DataValueType              311745 non-null  object
 9   DataValue                  210684 non-null  float64
 10  DataValueAlt               210684 non-null  float64
 11  DataValueFootnoteSymbol    102758 non-null  object
 12  DataValueFootnote          102758 non-null  object
 13  LowConfidenceLimit         190373 non-null  float64
 14  HighConfidenceLimit        190378 non-null  float64
 15  StratificationCategory1    311745 non-null  object
 16  Stratification1            311745 non-null  object
 17  Geolocation                305936 non-null  object
 18  LocationID                 311745 non-null  int64
 19  TopicID                    311745 non-null  object
 20  QuestionID                 311745 non-null  object
 21  DataValueTypeID            311745 non-null  object
 22  StratificationCategoryID1  311745 non-null  object
 23  StratificationID1          311745 non-null  object
dtypes: float64(4), int64(3), object(17)
memory usage: 57.1+ MB

### Looking into which values are still NaN in the dataframe

In [7]:
Check_DV = df2[df2[['DataValue']].isnull().all(axis=1)]
Check_DV.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,DataValueUnit,DataValueType,DataValue,DataValueAlt,DataValueFootnoteSymbol,DataValueFootnote,LowConfidenceLimit,HighConfidenceLimit,StratificationCategory1,Stratification1,Geolocation,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1
7,2019,2019,VI,Virgin Islands,YRBSS,Alcohol,Alcohol use among high school students,%,Crude Prevalence,NaN,NaN,*,No data available,NaN,NaN,Sex,Female,POINT (-64.896335 18.335765),78,ALC,ALC01,CRDPREV,SEX,SEXF
45,2015,2019,CO,Colorado,US Cancer DVT,Cancer,"Cervical cancer mortality among all females, u...","per 100,000",Crude Rate,NaN,NaN,~,Data suppressed; too few respondents or cases,NaN,NaN,Race/Ethnicity,"American Indian or Alaska Native, non-Hispanic",POINT (-106.13361092099967 38.843840757000464),8,CAN,CAN03,CRDRATE,RACE,AIAN
46,2015,2019,AL,Alabama,US Cancer DVT,Cancer,"Cervical cancer mortality among all females, u...","per 100,000",Age-adjusted Rate,NaN,NaN,~,Data suppressed; too few respondents or cases,NaN,NaN,Sex,Male,POINT (-86.63186076199969 32.84057112200048),1,CAN,CAN03,AGEADJRATE,SEX,SEXM
47,2016,2020,ID,Idaho,US Cancer DVT,Cancer,"Breast cancer mortality among all females, und...","per 100,000",Crude Rate,NaN,NaN,~,Data suppressed; too few respondents or cases,NaN,NaN,Sex,Male,POINT (-114.3637300419997 43.682630005000476),16,CAN,CAN02,CRDRATE,SEX,SEXM
51,2015,2019,NC,North Carolina,US Cancer DVT,Cancer,"Prostate cancer mortality among all males, und...","per 100,000",Crude Rate,NaN,NaN,~,Data suppressed; too few respondents or cases,NaN,NaN,Sex,Female,POINT (-79.15925046299964 35.466220975000454),37,CAN,CAN05,CRDRATE,SEX,SEXF

### Looked at the value counts of the each Topic under the 'Topic' column in the dataset. We are looking for topics that have large amount of data that will help us create visualization which sufficient information

In [8]:
topics = df2['Topic'].value_counts()
topics

Topic
Cardiovascular Disease                             30709
Chronic Obstructive Pulmonary Disease              28216
Nutrition, Physical Activity, and Weight Status    26069
Health Status                                      25612
Alcohol                                            25321
Cancer                                             22358
Arthritis                                          19910
Immunization                                       19140
Social Determinants of Health                      19026
Diabetes                                           17318
Mental Health                                      16976
Tobacco                                            15931
Oral Health                                        13236
Asthma                                             10511
Cognitive Health and Caregiving                     9904
Sleep                                               5318
Disability                                          5060
Maternal Health                                     1026
Chronic Kidney Disease                               104
Name: count, dtype: int64

### Within each topic there is number of questions with their data points. We selected each question within the topics and looked at their data
#### The final chosen topics were *Nutrition, Physical Activity, and Weight Status* and *Health Status*

In [9]:
Topic_1 = df2[df2['Topic'] == 'Health Status']
unique_T1 = Topic_1['Question'].value_counts()
unique_T1
# len(unique_T1)

Question
2 or more chronic conditions among adults                5060
Fair or poor self-rated health status among adults       5060
Recent activity limitation among adults                  5060
Average recent physically unhealthy days among adults    5060
Frequent physical distress among adults                  5060
Life expectancy at birth                                  312
Name: count, dtype: int64

In [10]:
Topic_2 = df2[df2['Topic'] == 'Nutrition, Physical Activity, and Weight Status']
unique_T2 = Topic_2['Question'].value_counts()
unique_T2
# len(unique_T2)

Question
No leisure-time physical activity among adults                                          5060
Obesity among adults                                                                    5060
Consumed fruit less than one time daily among adults                                    2530
Consumed vegetables less than one time daily among adults                               2530
Consumed regular soda at least one time daily among high school students                1540
Consumed vegetables less than one time daily among high school students                 1540
Consumed fruit less than one time daily among high school students                      1540
Met aerobic physical activity guideline among high school students                      1540
Obesity among high school students                                                      1540
Met aerobic physical activity guideline for substantial health benefits, adults         1265
Children and adolescents aged 6-13 years meeting aerobic physical activity guideline    1248
Obesity among WIC children aged 2 to 4 years                                             432
Infants who were exclusively breastfed through 6 months                                  122
Infants who were breastfed at 12 months                                                  122
Name: count, dtype: int64

In [11]:
Question_test = Topic_2[Topic_2['Question'] == '2 or more chronic conditions among adults']
Question_test.head(2)

Empty DataFrame
Columns: [YearStart, YearEnd, LocationAbbr, LocationDesc, DataSource, Topic, Question, DataValueUnit, DataValueType, DataValue, DataValueAlt, DataValueFootnoteSymbol, DataValueFootnote, LowConfidenceLimit, HighConfidenceLimit, StratificationCategory1, Stratification1, Geolocation, LocationID, TopicID, QuestionID, DataValueTypeID, StratificationCategoryID1, StratificationID1]
Index: []

#### We identified those questions that had more than 4 years worth of data so we can observe a change over multiple years

In [12]:
Question_test['YearStart'].value_counts()

Series([], Name: count, dtype: int64)

In [13]:
Question_test['YearEnd'].value_counts()

Series([], Name: count, dtype: int64)

#### We also looked into the various Stratifications used for the data. The ones chosen are divided demographically and by age

In [14]:
Question_test['Stratification1'].value_counts()

Series([], Name: count, dtype: int64)

#### State-wise information can also be extracted using the _LocationAbbr_ column for all the questions

In [15]:
Question_test['LocationAbbr'].value_counts()

Series([], Name: count, dtype: int64)

### This process of going through the Question was done for the two chosen topics. The following questions were chosen for the visualtions:<br>
(1) No leisure-time physical activity among adults<br>
(2) Obesity among adults<br>
(3) 2 or more chronic conditions among adults<br>
(4) Recent activity limitation among adults<br>
(5) Frequent physical distress among adults<br>